.login {
  height: 100%;
  display: flex;
}
 

.login-form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-login {
  width: 50%;
  height: 100%;
  background-color: #9fb2c7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-form-wrapper {
   width: 100%;
   max-width: 400px;
   display: flex;
   flex-direction: column;
   padding: 20px;

}

.login-form-wrapper button {
  width: 60%;
  background: linear-gradient(135deg,#6ebefb, #a777e3);
  border: 1px solid #6e8efb;
  color: #fff; 
  justify-content: center;

}

.login-form-wrapper button:hover {
  border: none;
  color:#fff;
  transform: scale(1..05);
  transition: .2s;

}


